a:link{
    color:blue;
    text-decoration: none;
}
a:hover{
    color:orange;
    text-decoration: underline;
}
a:visited{
    color: purple;
}
a:active{
    color: brown;
}
header{
    background-color: aquamarine;
}
footer{
    background-color: aquamarine;
}