body{
    display:flex;
    flex-direction:column ;
}
main{
    display:flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex:2;
    overflow-y: auto;
}
aside{
    flex:1;
    overflow-y: auto;
}
header{
    background-color: aquamarine;
}
footer{
    background-color: aquamarine;
}
a:link{
    color:blue;
    text-decoration: none;
}
a:hover{
    color:orange;
    text-decoration: underline;
}
a:visited{
    color: purple;
}
a:active{
    color: brown;
}



